{% extends "base.html" %}
{% load django_static %}

{% block extracss %}
<style type="text/css">

form {
  float: left;
  background-color: #f1f1f1;
  border-top: 3px dotted #e1e1e1;
  border-bottom: 3px dotted #e1e1e1;
  width: 600px;
  padding: 20px 30px;	
  margin-bottom: 30px;
}

form input {
  width: 300px;
  padding: 5px;
  font-size: 15px;
  margin-right: 20px;	
}

form textarea {
  width: 300px;	
  padding: 5px;
  font-size: 15px;
  margin-right: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

form label {
  font-weight: bold;
  font-size: 12px;	
}

div#centre-content p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 10px;
    margin-top: 0px;
}

div#centre-content div#message {
    background-color: #F1F1F1;
    border: 1px solid #C1C1C1;
    border-radius: 10px 10px 10px 10px;
    padding: 0 20px;
}

div#centre-content div#message h3 {
  color: #4D89BD;	
}

</style>
{% endblock %}

{% block metadescription %}Contact Mastering Outdoors - how you can get in touch with us.{% endblock %}

{% block pagetitle%}Contact us{% endblock %}



{% block content %}
    

	<h2>Contact Us</h2>
		 	<p>Fill in your enquiry below, or send us an email at  <a href="mailto:sales@mastering-outdoors.com">sales@mastering-outdoors.com</a> to get in touch with our sales representatives.</p>

			{% if message %}
				<div id="message">
				<h3>Thanks!</h3>
				<p>Your message has been sent to us at Mastering Outdoors. We usually aim to respond within 24 hours to all enquiries.</p>
				</div>
			{% else %}
				<h3>Send us a message</h3>
				<p>We respond to all messages within 24 hours.</p>

				{% include "shop/snippets/contact_form.html" %}
				
			{% endif %}


    {% endblock %}
