{% load django_static %}


<div id="footer">
		<ul class="footer-links">
		      <li>&copy; Mastering Outdoors 2011 </li>
	          <li><a title="Terms and Conditions" href="/terms-and-conditions/"><span class="fontface">Terms and Conditions</span></a> </li>
	          <li><a title="Read about Mastering Outdoors" href="/about-us/"><span class="fontface">About Us</span></a></li>
	          <li><a title="Read our Privacy Policy" href="/privacy/"><span class="fontface">Privacy</span></a></li>
	          <li><a href="{% url contact_us %}">Contact Us</a></li>
	          
	   </ul>
</div>