{% extends "base.html" %}
{% load thumbnail %}
{% load django_static %}

{% block metadescription %}{{ product.meta_description }}{% endblock %}

{% block pagetitle %}{% if product.meta_title %}{{ product.meta_title }}{% else %}{{ product.title }}{% endif %}{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{% slimfile '/css/lightbox.css' %}" type="text/css" media="screen" />

<style type="text/css">

div#centre-content div#product-images img  {
  float: left;
  text-align: left;
  margin-left: 0;
  margin-right: 10px;
  margin-bottom: 0px;
}

div#centre-content p.small {
  font-size: 11px;
  color: #999;
  margin: 0;	
}

div#product-images {
  float: left;
  width: 280px;	
}

form {
  float: left;
  background-color: #f1f1f1;
  border-top: 3px dotted #e1e1e1;
  border-bottom: 3px dotted #e1e1e1;
  width: 600px;
  padding: 20px 30px;	
  margin-bottom: 30px;
}

form input {
  width: 500px;
  padding: 5px;
  font-size: 15px;
  margin-right: 20px;	
}

form textarea {
  width: 500px;	
  padding: 5px;
  font-size: 15px;
  margin-right: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

form label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 500px;
}

div#centre-content p.help-text {
    float: left;
    font-size: 0.7em;
    padding-left: 10px;
    margin-top: 0px;
}

div#centre-content div#message {
    background-color: #F1F1F1;
    border: 1px solid #C1C1C1;
    border-radius: 10px 10px 10px 10px;
    padding: 0 20px;
}

div#centre-content div#message h3 {
  color: #4D89BD;	
}


</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{% staticfile '/js/prototype.js' %}"></script>
<script type="text/javascript" src="/js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="{% staticfile '/js/lightbox.js' %}"></script>
{% endblock %}

{% block content %}

<h2><span>Product &raquo;</span> {{ product.name }}</h2> 
	
	{% thumbnail product.image "400x400" crop="center" as im %}
		<img alt="a picture of {{ product.name }}" title="{{ product.meta_description }}" class="product-promo" src="{{ im.url }}"/>
	{% endthumbnail %}

	
	{{ product.description|safe }}
	
	<div id="product-images">
	{% if product.image_2 %}
	{% thumbnail product.image_2 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[product]" title="{{ product.image_2_caption }}">
	{% endthumbnail %}
	{% thumbnail product.image_2 "60x60" crop="center" as im %}
		<img alt="a picture of {{ product.name }}" title="Click to find out more about {{ product.name }}" class="product-promo" src="{{ im.url }}"/>
	{% endthumbnail %}
	</a>
	{% endif %}
	
	{% if product.image_3 %}
	{% thumbnail product.image_3 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[product]" title="{{ product.image_3_caption }}">
	{% endthumbnail %}
		{% thumbnail product.image_3 "60x60" crop="center" as im %}
		<img alt="a picture of {{ product.name }}" title="Click to find out more about {{ product.name }}" class="product-promo" src="{{ im.url }}"/>
	{% endthumbnail %}
	</a>
	{% endif %}
	
	{% if product.image_4 %}
	{% thumbnail product.image_4 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[product]" title="{{ product.image_4_caption }}">
	{% endthumbnail %}
		{% thumbnail product.image_4 "60x60" crop="center" as im %}
		<img alt="a picture of {{ product.name }}" title="Click to find out more about {{ product.name }}" class="product-promo" src="{{ im.url }}"/>
	{% endthumbnail %}
	</a>
	{% endif %}
	
	{% if product.image_5 %}
	{% thumbnail product.image_5 "550x550" as im %}
				<a href="{{ im.url }}" rel="lightbox[product]" title="{{ product.image_5_caption }}">
	{% endthumbnail %}
		{% thumbnail product.image_5 "60x60" crop="center" as im %}
		<img alt="a picture of {{ product.name }}" title="Click to find out more about {{ product.name }}" class="product-promo" src="{{ im.url }}"/>
	{% endthumbnail %}
	</a>
	{% endif %}
	</div>
	
	{% if product.image_2 %}
	<p class="small">Click an image to enlarge</p>
	{% endif %}


	
	<br clear="all"/>
	{% if product.body_text %}
	<p>{{ product.body_text|safe }}</p>
	{% endif %}
	
	<h3>Contact us about this product</h3>
	{% include "shop/snippets/contact_form.html" %}


{% endblock %}
